@model VacantionManager.Models.ViewModels.TeamEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h1>Edit</h1>

<h4>TeamModel</h4>
<hr />
<dd class="col-sm-10">
<div style="margin-top:10px;">
    <form asp-action="ChangeTeamName" asp-route-teamId="@Model.team.id">
        <label>Change team name:</label>
        <input asp-for="team.name" style="display:inline;width:30%;" name="teamName" class="form-control" />
        <input style="display:inline;" type="submit" value="Save" class="btn btn-primary" />
    </form>
</div>

<div style="margin-top:10px;">
    <form asp-action="ChangeLeader" asp-route-teamId="@Model.team.id">
        <label>Change team leader:</label>
        @if (Model.users.Count() > 0)
        {
             <select style="display:inline;width:30%;" name="Leaders">
                 @if (Model.team.teamLeader != null)
                 {
                     <option value=@Model.team.teamLeader.username>@(Model.team.teamLeader.username + "(" + Model.team.teamLeader.firstName + " " + Model.team.teamLeader.lastName + ")")</option>
                     <option value=@null>---------------</option>
                 }
                 else
                 { 
                     <option value=@null>---------------</option>
                 }
                 @foreach (var item in Model.users)
                 {
                     <option value=@item.Key>@item.Value</option>
                 }
             </select>
        }
        else
        {
            <label>No free leaders!</label>
        }
        <input style="display:inline;" type="submit" value="Save" class="btn btn-primary" />
    </form>
</div>


<div style="margin-top:10px;">
    <form asp-action="ChangeProject" asp-route-teamId="@Model.team.id">
        <label>Change project:</label>
        @if (Model.projects.Count() > 0)
        {
            <select style="display:inline;width:30%;" name="Projects">
            <option value=@null>---------------</option>
               @foreach (var item in Model.projects)
               {
                   if (Model.team.project != null)
                   {
              
                       if (Model.team.project.name == item)
                       {
                           <option selected name="project" value=@item>@item</option>
                       }
                       else
                       {
                           <option name="project" value=@item>@item</option>
                       }
                   }
                   else
                   {
                       <option name="project" value=@item>@item</option>
                   }
               }
            </select>
               <input style="display:inline;" type="submit" value="Save" class="btn btn-primary" />
         }   
         else
         {
             <label>No projects to show!</label>
         }
    </form>
</div>
</dd>
<p>@ViewData["Message"]</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>

