@model IEnumerable<VacantionManager.Models.Entity.TeamModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h1>Teams</h1>

<form style="margin-bottom:10px;" asp-action="Search" asp-controller="Teams">
    <p style="display:inline;">Search by:</p>
    <select name="SearchBy">
        <option name="role" value=projectName>Project name</option>
        <option name="username" value=teamName>Team name</option>
    </select>
    <input style="display:inline; margin-left:10px;" name="search" />
    <input style="display:inline; margin-left:10px;" type="submit" value="Search" />
</form>
<p class="text-danger" style="margin-bottom:10px;">@ViewData["Message"]</p>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Team name:
                </th>
                <th>
                    Team leader:
                </th>
                <th>
                    Number of developers in it:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                @if (item.teamLeader != null)
                {
                    <td>
                        @(item.teamLeader.firstName+" " + item.teamLeader.lastName)
                    </td>
                }
                else
                {
                    <td>
                        No team leader!
                    </td>
                }
                <td>
                    @item.devs.Count()
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No such teams!</p>
}
