@model VacantionManager.Models.Entity.UserModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Details for user</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Username:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt class="col-sm-2">
            First Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class="col-sm-2">
            Last name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class="col-sm-2">
            Role:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.role.name)
        </dd>
        <dt class="col-sm-2">
            Team:
        </dt>
        <dd class="col-sm-10">
            @if (Model.team == null)
            {
                <p>The user doesn't have team yet!</p>
            }
            else
            {
                @Model.team.name
            }
        </dd>
    </dl>
</div>
<div>   

    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>
